.tf-form-row {
  margin-bottom: 15px;
  display: flex;
  width: 100%;
}

.tf-input-field {
  width: 100%;
  display: flex;
  flex-direction: column;
  label {
    padding-left: 10px;
    font-weight: bold;
  }
  input, select {
    margin: 10px;
  }
}

.tf-media-upload {
  position: relative;
  .image-preview-wrapper {
    width: 100%;
    background-color: lighten(map_get($color,'material-grey'), 30);
    img {
      height: auto;
      width: 100%;
    }
    .placeholder {
      height: 35px;
    }
  }
  input[type=button]{
    width: 100%;
  }
  .filename {
    font-size: map_get($font-size,'s');
    text-align: center;
    padding: 8px;
    margin: 0;
  }
  .unset-button {
    background-color: transparent;
    border: 0px;
    font-size: 2rem;
    color: var(--tf-accent-color, #cd2653);
    padding: 0.5em;
    position: absolute;
    text-align: right;
  }
}

.tf-field-error {
  color: var(--tf-error-color, map_get($color,'material-red'));
  font-size: map_get($font-size,'s');
}

