.tf-companies-grid{
  display: grid;
  justify-items: stretch;
  column-gap: 12px;
  row-gap: 12px;
}

@for $i from 1 through 4 {
  .grid-#{$i} {
    grid-template-columns: repeat($i, 100%/$i);
    column-gap: 20px
  }
}
